.filter-control {
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  width: 15rem;
  height: 30rem;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #333333;
  h2 {
    padding: 0.4rem;
    background-color: #4c4c4c;
    background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 0%,#666666 4%,#474747 13%,#000000 24%,#111111 68%,#1c1c1c 84%,#131313 100%);
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    color: #ffffff;
    line-height: 1.2rem;
  }
}
