<!doctype html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="author" type="text/plain" href="humans.txt" />

    <title>ArcGIS API / React Demo</title>
    <script src='http://js.arcgis.com/4.4/init.js' async></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
    <link rel="stylesheet" href="assets/styles/main-<%= htmlWebpackPlugin.options.cssHash %>.css">
  </head>

  <body>
    <script src="assets/scripts/bundle-<%= htmlWebpackPlugin.options.jsHash %>.js"></script>
  </body>
</html>
